<p id="notice"><%= notice %></p>

<h1>Tenants</h1>
<div>
  <%= link_to 'Create New Tenant', rails_admin_path, :class => "btn btn-primary text-white"%>
  <%= link_to 'Invite New Tenant', new_tenant_invitation_path,:class => "btn btn-secondary text-white" %>
</div>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Active?</th>
    <th>Property Name</th>
    <th>Guarantor Confirmed?</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @tenants.each do |tenant| %>
  <tr>
    <td>
      <div class="d-flex align-items-center">
        <% if tenant.avatar_url? %>
          <%= image_tag tenant.avatar_url, class: 'rounded-circle', height: '35px', width: '35px'%>
        <%else %>
          <%= image_tag 'fallback/profile_placeholder.jpg',class: 'rounded-circle', height: '35px', width: '35px' %>
        <%end %>
        <div class="ms-3">
          <p class="fw-bold mb-1"><%=tenant.first_name %></p>
          <p class="text-muted mb-0"><%=tenant.last_name %></p>
        </div>
      </div>
    </td>
    <td>
      <p class="fw-normal mb-1"><%=tenant.email %></p>
    </td>
    <td><%=tenant.phone %></td>
    <td>
      <div class="badge rounded-pill bg-secondary d-inline">
        <%=tenant.active %>
      </div>
    </td>
    <td>
      <%=tenant.property.name %>
    </td>
    <td>
      <div class="badge rounded-pill bg-secondary d-inline ">
        <%=tenant.guarantor_confirmed %>
      </div>
    </td>
    <td>
      <%= link_to 'View', tenant, :class => "btn btn-sm btn-rounded"%>
      <%= link_to 'Edit', rails_admin_path, :class => "btn btn-sm btn-rounded "%>
      <%= link_to 'Delete', tenant, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-sm btn-rounded"%>
    </td>
  </tr>
  </tr>
  <% end %>
  </tbody>
</table>


