<!-- Navbar -->
<container >
  <div class="px-5">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Propertivio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcollapsible"  aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarcollapsible">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Dashboard</a>
          </li>
          <% if can? :read, Property %>
          <li class="nav-item">
            <%=link_to "Properties", '/properties', :class => "nav-link"  %>
          </li>
            <%end %>
          <li class="nav-item">
            <% if can?(:read, RailsAdmin) %>
            <%=link_to "Admin", '/admin', :class => "nav-link"  %>
            <%end %>
          </li>
        </ul>


        <ul class="navbar-nav d-none d-md-block d-lg-block">
        <li class="nav-item dropdown">
          <% if user_signed_in? %>
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.avatar_url? %>
              <%= image_tag current_user.avatar_url, class: 'rounded-circle', height: '35px', width: '35px'%>
            <%else %>
              <%= image_tag 'fallback/profile_placeholder.jpg',class: 'rounded-circle', height: '35px', width: '35px' %>
            <%end %>
            <%= current_user.first_name%>
          </a>

          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Profile', edit_user_registration_path, :class => "dropdown-item"%></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete,:class => "dropdown-item" %></li>
          </ul>
        </li>
          <%elsif tenant_signed_in?%>
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_tenant.avatar_url? %>
                <%= image_tag current_tenant.avatar_url, class: 'rounded-circle', height: '35px', width: '35px'%>
              <%else %>
                <%= image_tag 'fallback/profile_placeholder.jpg',class: 'rounded-circle', height: '35px', width: '35px' %>
              <%end %>
              <%= current_tenant.first_name%>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit Profile', edit_tenant_registration_path, :class => "dropdown-item"%></li>
                <li><%= link_to 'Log out', destroy_tenant_session_path, method: :delete,:class => "dropdown-item" %></li>
              </ul>
              </li>
        </ul>
        <%else %>
        <%= link_to('Staff Sign in', new_user_session_path, :class => "btn btn-outline-warning") %>
        <%= link_to('Tenant Sign in', new_tenant_session_path, :class => "btn btn-outline-warning") %>
        <%end %>


        <div class="d-md-none d-lg-none">
        <% if user_signed_in? %>
          <%= link_to 'Edit Profile', edit_user_registration_path, :class => "btn btn-outline-warning"%>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete,:class => "btn btn-warning" %>
        <%else %>
          <%= link_to('Sign in', new_user_session_path, :class => "btn btn-outline-warning") %>
        <%end %>
        </div>


      </div>
    </div>
  </nav>
  </div>
</container>

