<!DOCTYPE html>
<html>
  <head>
    <title>Propertivio</title>
    <%= render "shared/head" %>
  </head>

  <body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <header class="bg-dark text-white">
          <%#= render "shared/flash_notice" %>
          <%= render "shared/navbar" %>
        </header>
                <div class="container">
          <%= yield %>
        </div>
        <% unless flash.empty? %>
          <script type="text/javascript">
              <% flash.each do |f| %>
              <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
              toastr['<%= type %>']('<%= f[1] %>');
              <% end %>
          </script>
        <% end %>
      </div>
    </div>
  </div>
  </body>
</html>
